.main-section {
  position: relative;
  width: 100%;
  display: grid;
  justify-items: center;
  &-inner {
    display: grid;
    justify-items: center;
    z-index: 2;
    &-title {
      @include font($font: $fontH1, $color: $dark, $textPos: $cen);
      font-weight: bold;
      margin-top: 50px;
    }
    &-description {
      @include font($font: $fontNav, $color: $dark, $textPos: $cen);
      height: 50px;
      margin-top: 20px;
    }
    &-img {
      width: 100%;
      height: 100%;
    }
    &-button {
      @include font($font: $fontNav, $color: $dark, $textPos: $cen);
      height: 50px;
      border-radius: 5px;
      margin-top: 20px;
      background: transparent;
      border: 1px solid;
    }
  }
  .main-svg {
    transform: scale(1.5);
    height: auto;
    position: relative;

    .b {
      fill: $sColor;
    }
    .a,
    .c {
      fill: $tColor;
    }
    .d {
      fill: $pColor;
    }
  }
  .portion {
    background-color: $pColor;
    position: absolute;
    width: 200%;
    height: 50vh;
    z-index: -1;
    top: 100%;
  }
}

@media (max-width: 1150px) {
  .main-section {
    &-title {
      @include font($font: $fontH1r, $color: $dark, $textPos: $cen);
    }
    &-description {
      @include font($font: $fontNav, $color: $dark, $textPos: $cen);
      margin-top: 40px;
    }
    &-img {
      width: 100%;
      height: 100%;
    }
    &-button {
      @include font($font: $fontNav, $color: $dark, $textPos: $cen);
    }
    .main-svg {
      transform: scale(2);
    }
  }
}

@media (max-width: 420px) {
  .main-section {
    .main-svg {
      transform: scale(3);
      top: 88px;
    }
    .portion {
      top: 125%;
    }
  }
}
