//Font

$fontH1: 1rem 'Open Sans', sans-serif;
$fontH: 0.5rem 'Open Sans', sans-serif;

$fontNav: 15px 'Montserrat Alternates', sans-serif;
$fontRead: 1.5rem 'Open Sans', sans-serif;
$fontRead2: 1.1rem 'Open Sans', sans-serif;

$fontIntro: 7px 'Montserrat Alternates', sans-serif;
$fontIntroDesc: 15px 'Montserrat Alternates', sans-serif;

$fontTitle: 15rem 'Teko', sans-serif;
$fontTitle2: 10rem 'Teko', sans-serif;
$fontTitle3: 4rem 'Teko', sans-serif;
$fontTitle4: 2rem 'Teko', sans-serif;
$fontTitle5: 1rem 'Teko', sans-serif;

$fontTablet: 5rem 'Teko', sans-serif;

$fontT2: 1.8rem 'Teko', sans-serif;

//Aligment
$cen: center;
$le: left;
$ri: right;
$jus: justify;

@mixin font($font, $textPos, $color) {
  font: $font;
  color: $color;
  text-align: $textPos;
}
