//Colors

$pColor: #35d866;
$sColor: #2f52e0;
$bcolor: #ecf0f3;
$shadow: 0px 3px 6px #1f16231c, 0px 3px 6px #1f16231c;

$dark: #111411;
$white: #ededed;
$trans: #1f162314;

$success: #7bc74a;
$failure: #e41b13;

//redes sociales
$whatsapp: #1bd741;
$facebook: #36508b;
$twitter: #00aced;
