//Colors

$pColor: #35d866;
$sColor: #2f52e0;
$tColor: #e0652f;
$bcolor: #ecf0f3;
$shadow: 4px 4px 14px #676767b0, -4px -4px 7px #fff;

$dark: #111411;
$white: #ededed;
$trans: #1f162314;

$success: #7bc74a;
$failure: #e41b13;

//redes sociales
$whatsapp: #1bd741;
$facebook: #36508b;
$twitter: #00aced;
