@mixin principios() {
  .info-container-pr {
    box-shadow: $shadow;
    background-image: url('../images/Principios/red-tube.svg');
    background-repeat: no-repeat;
    background-color: $bcolor;
    background-size: 100%;
    border-radius: 50px;
    padding: 20px;
    position: relative;
    top: -70px;
    margin: auto;

    @media (min-width: 575px) {
      top: -150px;
      background-size: 80%;
    }
    @media (min-width: 1024px) {
      top: -210px;
      width: 80%;
      padding: 80px;
      background-size: 60%;
    }

    &-inner {
      display: grid;
      grid-template:
        'line row1 row1 row1 row1'
        'line hLine1 row2 row2 row2'
        'line hLine2 row3 row3 row3'
        'line hLine3 row4 row4 row4'
        'line hLine4 row5 row5 row5';

      @media (min-width: 575px) {
        grid-template:
          'line row1 row1 row1 row1'
          'line hLine1 hLine1 row2 row2'
          'line hLine2 hLine2 row3 row3'
          'line hLine3 hLine3 row4 row4'
          'line hLine4 hLine4 row5 row5';
      }

      .master-line-pr {
        grid-area: line;
        height: auto;
        background-color: $tColor;
        width: 5px;
        border-radius: 5px;
        margin: 5px;
      }
      .section-1 {
        margin: 30px 0;
        display: grid;
        align-items: center;
        grid-template:
          'num num title'
          'num num title'
          'num num title'
          'pg pg pg';
        .number-container {
          grid-area: num;
          h1 {
            @include font2(
              $font-family: $teko,
              $font-size: 100px,
              $textPos: $cen,
              $color: $tColor,
              $font-weight: bold
            );
            text-transform: uppercase;
            @media (max-width: 320px) {
              font-size: 105px;
            }

            @media (min-width: 321px) {
              font-size: 120px;
            }
            @media (min-width: 575px) {
              font-size: 219px;
            }
            @media (min-width: 750px) {
              font-size: 290px;
            }

            @media (min-width: 1178px) {
              font-size: 500px;
              text-align: right;
            }
          }
        }
        .title-container {
          grid-area: title;
          h1 {
            @include font2(
              $font-family: $teko,
              $font-size: 47px,
              $textPos: $cen,
              $color: $tColor,
              $font-weight: bold
            );
            @media (max-width: 320px) {
              font-size: 45px;
              text-align: left;
            }
            @media (min-width: 321px) {
              font-size: 44px;
              text-align: left;
            }
            @media (min-width: 465px) {
              font-size: 60px;
              text-align: left;
            }
            @media (min-width: 575px) {
              font-size: 93px;
            }
            @media (min-width: 750px) {
              font-size: 130px;
            }
            @media (min-width: 1178px) {
              font-size: 160px;
            }
          }
        }
        .description-container {
          grid-area: pg;
          p {
            @include font2(
              $font-family: $open,
              $font-size: 10px,
              $textPos: $cen,
              $color: $dark,
              $font-weight: bold
            );
            @media (max-width: 320px) {
              text-align: left;
            }
            @media (min-width: 321px) {
              text-align: left;
              font-size: 13px;
            }
            @media (min-width: 575px) {
              text-align: center;
            }
            @media (min-width: 750px) {
              font-size: 22px;
            }
          }
        }
      }
      .section-2 {
        margin: 30px 0;
        .card-1 {
          margin-top: 20px;
          box-shadow: $shadow;
          background-color: $bcolor;
          border-radius: 50px;
          padding: 40px;

          @media (min-width: 575px) {
            padding: 80px;
          }
          h3 {
            @include font2(
              $font-family: $teko,
              $font-size: 18px,
              $textPos: $cen,
              $color: $tColor,
              $font-weight: bold
            );
            margin-bottom: 10px;
            @media (min-width: 575px) {
              font-size: 26px;
            }
            @media (min-width: 750px) {
              font-size: 48px;
            }
          }
          p {
            @include font2(
              $font-family: $open,
              $font-size: 10px,
              $textPos: $jus,
              $color: $dark,
              $font-weight: 300
            );
            @media (min-width: 575px) {
              font-size: 18px;
            }
            @media (min-width: 750px) {
              font-size: 22px;
            }
          }
        }
        .card-1--no-shadow {
          margin-top: 20px;
          border: 5px solid $tColor;
          background-color: #ecf0f373;
          border-radius: 5px;
          padding: 40px;

          @media (min-width: 575px) {
            padding: 80px;
          }
          h3 {
            @include font2(
              $font-family: $teko,
              $font-size: 18px,
              $textPos: $cen,
              $color: $tColor,
              $font-weight: bold
            );
            margin-bottom: 10px;
            @media (min-width: 575px) {
              font-size: 26px;
            }
            @media (min-width: 750px) {
              font-size: 32px;
            }
          }
          p {
            @include font2(
              $font-family: $open,
              $font-size: 10px,
              $textPos: $jus,
              $color: $dark,
              $font-weight: 300
            );
            @media (min-width: 575px) {
              font-size: 18px;
            }
            @media (min-width: 750px) {
              font-size: 22px;
            }
          }
        }
        .list {
          margin-top: 10px;
          list-style: disc;
          padding: 20px;
          .item {
            @include font2(
              $font-family: $open,
              $font-size: 14px,
              $textPos: $le,
              $color: $dark,
              $font-weight: 500
            );
            font-weight: lighter;
            @media (min-width: 575px) {
              font-size: 18px;
            }
            @media (min-width: 750px) {
              font-size: 26px;
            }
          }
        }
      }
    }
  }
}
.row1 {
  grid-area: row1;
  grid-column: 3/ 5;
}
.row2 {
  grid-area: row2;
  @media (min-width: 575px) {
    grid-column: 4/ 6;
  }
}
.row3 {
  grid-area: row3;
  @media (min-width: 575px) {
    grid-column: 4/ 6;
  }
}
.row4 {
  grid-area: row4;
  @media (min-width: 575px) {
    grid-column: 4/ 6;
  }
}
.row5 {
  grid-area: row5;
  @media (min-width: 575px) {
    grid-column: 4/ 6;
  }
}
@mixin horizontal-line-master($color) {
  background-color: $color;
  width: 100%;
  height: 5px;
  border-radius: 2px;
}
.horizontal-line-b1 {
  grid-area: hLine1;
  grid-column: 2/4;
  align-self: self-start;
  @include horizontal-line-master($color: $tColor);
  @media (min-width: 575px) {
    align-self: center;
  }
}
.horizontal-line-b2 {
  grid-area: hLine2;
  grid-column: 2/4;
  align-self: self-start;
  @include horizontal-line-master($color: $tColor);
  @media (min-width: 575px) {
    align-self: center;
  }
}
.horizontal-line-b3 {
  grid-area: hLine3;
  grid-column: 2/4;
  align-self: self-start;
  @include horizontal-line-master($color: $tColor);
  @media (min-width: 575px) {
    align-self: center;
  }
}
.horizontal-line-b4 {
  grid-area: hLine4;
  grid-column: 2/4;
  align-self: self-start;
  @include horizontal-line-master($color: $tColor);
  @media (min-width: 575px) {
    align-self: center;
  }
}
