.main-container {
  &-inner {
    .hero-container {
      &-inner {
        img {
          width: 100%;
        }
      }
    }

    .info-container {
      box-shadow: $shadow;
      background-color: $bcolor;
      border-radius: 5px;
      padding: 0px 70px;
      position: relative;
      top: -250px;
      &-inner {
        .grid-section-economia {
          display: grid;
          grid-template-columns: repeat(7, 1fr);
          grid-template-rows: 1fr 2fr 2fr 2fr;

          .line {
            grid-area: 1/1/5/1;
            .green {
              background-color: $pColor;
              width: 5px;
              height: 100%;
              border-radius: 2px;
            }
          }

          .title-container {
            grid-area: 1/1/1/8;
            justify-self: center;

            &-inner {
              &-text {
                @include font(
                  $font: $fontTitle2,
                  $textPos: $le,
                  $color: $pColor
                );

                font-weight: 700;
              }
            }
          }
          .paragraph-container {
            grid-area: 2/3/4/8;
            justify-self: center;
            align-self: center;
            &-inner {
              &-text {
                @include font($font: $fontRead, $textPos: $jus, $color: $dark);
              }
            }
            .image-container {
              &-inner {
                margin-top: 5rem;
                &-img {
                  width: 100%;
                }
              }
            }
          }

          .h-line-1 {
            grid-area: 6/1/3/5;
            align-self: center;

            &-inner {
              background-color: $pColor;
              width: 100%;
              height: 5px;
              border-radius: 2px;
            }
          }

          .box-container {
            grid-area: 4/4/4/8;
            align-self: center;
            box-shadow: $shadow;
            border-radius: 10px;
            background-color: $bcolor;
            padding: 2rem;
            &-inner {
              .box-title-container {
                &-inner {
                  &-text {
                    @include font(
                      $font: $fontTitle3,
                      $textPos: $cen,
                      $color: $pColor
                    );

                    line-height: 55px;
                  }
                }
              }
              .box-paragraph-container {
                &-inner {
                  &-text {
                    @include font(
                      $font: $fontRead,
                      $textPos: $cen,
                      $color: $dark
                    );
                  }
                  &-list {
                    @include font(
                      $font: $fontRead,
                      $textPos: $le,
                      $color: $dark
                    );
                  }
                }
              }
            }
          }

          .last-container {
            grid-area: 5/1/6/8;

            &-inner {
              align-items: center;
              &-title {
                &-inner {
                  &-text {
                    @include font(
                      $font: $fontTitle3,
                      $textPos: $le,
                      $color: $pColor
                    );
                  }
                }
              }
              .lines-container {
                grid-area: 2/1/2/2;
                height: 100%;
                padding: 2rem;
                .line-1-v {
                  @extend .vertical-line;
                }
                .horizontal-line-container1 {
                  display: flex;
                  align-items: center;
                  width: 33.3%;
                  top: -48px;
                  position: relative;
                  .line-2-h {
                    @extend .horizontal-line;
                  }
                  .line-title {
                    @include font(
                      $font: $fontTitle3,
                      $textPos: $le,
                      $color: $pColor
                    );
                  }
                }

                .line-3-v {
                  @extend .vertical-line;
                }
                .horizontal-line-container2 {
                  display: flex;
                  align-items: center;
                  width: 66.6%;
                  top: -48px;
                  position: relative;

                  .line-4-h {
                    @extend .horizontal-line;
                  }
                  .line-title {
                    @include font(
                      $font: $fontTitle3,
                      $textPos: $cen,
                      $color: $pColor
                    );
                  }
                }

                .line-5-v {
                  @extend .vertical-line;
                }
                .horizontal-line-container3 {
                  display: flex;
                  align-items: center;
                  width: 99.9%;
                  top: -48px;
                  position: relative;

                  .line-6-h {
                    @extend .horizontal-line;
                  }
                  .line-title {
                    @include font(
                      $font: $fontTitle3,
                      $textPos: $ri,
                      $color: $pColor
                    );
                  }
                }
              }

              .box-container {
                grid-area: 2/2/3/3;
                align-self: center;
                box-shadow: $shadow;
                border-radius: 10px;
                background-color: $bcolor;
                padding: 2rem;
                &-inner {
                  .box-title-container {
                    &-inner {
                      &-text {
                        @include font(
                          $font: $fontTitle3,
                          $textPos: $cen,
                          $color: $pColor
                        );

                        line-height: 55px;
                      }
                    }
                  }
                  .box-paragraph-container {
                    &-inner {
                      &-text {
                        @include font(
                          $font: $fontRead,
                          $textPos: $cen,
                          $color: $dark
                        );
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .grid-section-principios {
          display: grid;
          grid-template-columns: repeat(7, 1fr);
          grid-template-rows: 3fr 2fr 1fr 2fr 1fr 2fr 1fr 2fr;

          .line {
            grid-area: 1/1/7/1;

            .red {
              background-color: $tColor;
              width: 5px;
              height: 100%;
              border-radius: 2px;
            }
          }

          .title-container {
            grid-area: 1/2/2/8;
            justify-self: center;
            align-self: center;
            &-inner {
              &-text {
                @include font(
                  $font: $fontTitle2,
                  $textPos: $le,
                  $color: $tColor
                );
                line-height: 100%;
                font-weight: 700;
              }
            }
            .paragraph-container {
              &-inner {
                &-text {
                  @include font(
                    $font: $fontRead,
                    $textPos: $jus,
                    $color: $dark
                  );
                }
              }
            }
          }

          .h-line-1 {
            grid-area: 2/1/2/5;
            align-self: center;

            &-inner {
              background-color: $tColor;
              width: 100%;
              height: 5px;
              border-radius: 2px;
            }
          }
          .h-line-2 {
            grid-area: 4/1/4/5;
            align-self: center;

            &-inner {
              background-color: $tColor;
              width: 100%;
              height: 5px;
              border-radius: 2px;
            }
          }
          .h-line-3 {
            grid-area: 6/1/6/5;
            align-self: center;

            &-inner {
              background-color: $tColor;
              width: 100%;
              height: 5px;
              border-radius: 2px;
            }
          }

          .box-container {
            grid-area: 2/5/3/8;
            align-self: center;
            box-shadow: $shadow;
            border-radius: 10px;
            background-color: $bcolor;
            padding: 2rem;
            &-inner {
              .box-title-container {
                &-inner {
                  &-text {
                    @include font(
                      $font: $fontTitle3,
                      $textPos: $le,
                      $color: $tColor
                    );

                    line-height: 55px;
                  }
                }
              }
              .box-paragraph-container {
                &-inner {
                  &-text {
                    @include font(
                      $font: $fontRead,
                      $textPos: $le,
                      $color: $dark
                    );
                  }
                  &-list {
                    @include font(
                      $font: $fontRead,
                      $textPos: $le,
                      $color: $dark
                    );
                  }
                }
              }
            }
          }
          .box-container2 {
            grid-area: 4/4/5/8;
            align-self: center;
            box-shadow: $shadow;
            border-radius: 10px;
            background-color: $bcolor;
            padding: 2rem;
            &-inner {
              .box-title-container {
                &-inner {
                  &-text {
                    @include font(
                      $font: $fontTitle3,
                      $textPos: $le,
                      $color: $tColor
                    );

                    line-height: 55px;
                  }
                }
              }
              .box-paragraph-container {
                &-inner {
                  &-text {
                    @include font(
                      $font: $fontRead,
                      $textPos: $le,
                      $color: $dark
                    );
                  }
                  &-list {
                    @include font(
                      $font: $fontRead,
                      $textPos: $le,
                      $color: $dark
                    );
                  }
                }
              }
            }
          }
          .box-container3 {
            grid-area: 6/3/7/8;
            align-self: center;
            box-shadow: $shadow;
            border-radius: 10px;
            background-color: $bcolor;
            padding: 2rem;
            &-inner {
              .box-title-container {
                &-inner {
                  &-text {
                    @include font(
                      $font: $fontTitle3,
                      $textPos: $le,
                      $color: $tColor
                    );

                    line-height: 55px;
                  }
                }
              }
              .box-paragraph-container {
                &-inner {
                  &-text {
                    @include font(
                      $font: $fontRead,
                      $textPos: $le,
                      $color: $dark
                    );
                  }
                  &-list {
                    list-style: disc;
                    @include font(
                      $font: $fontRead,
                      $textPos: $le,
                      $color: $dark
                    );
                  }
                }
              }
            }
          }
          .last-container {
            grid-area: 8/2/9/8;
            &-inner {
              .box-container {
                box-shadow: none;
                border: 5px solid $tColor;
                border-radius: 0px;
              }
            }
          }
        }
        .grid-section-bloques {
          display: grid;
          grid-template-columns: repeat(7, 1fr);
          grid-template-rows: repeat(7, 1fr);

          .line {
            grid-area: 1/1/7/1;

            .blue {
              background-color: $sColor;
              width: 5px;
              height: 100%;
              border-radius: 2px;
            }
          }

          .title-container {
            grid-area: 1/2/2/8;
            justify-self: center;
            align-self: center;
            &-inner {
              &-text {
                @include font(
                  $font: $fontTitle2,
                  $textPos: $le,
                  $color: $sColor
                );
                line-height: 100%;
                font-weight: 700;
              }
            }
            .paragraph-container {
              &-inner {
                &-text {
                  @include font(
                    $font: $fontRead,
                    $textPos: $jus,
                    $color: $dark
                  );
                }
              }
            }
          }

          .h-line-1 {
            grid-area: 2/1/2/5;
            align-self: center;

            &-inner {
              background-color: $sColor;
              width: 100%;
              height: 5px;
              border-radius: 2px;
            }
          }
          .h-line-2 {
            grid-area: 4/1/4/5;
            align-self: center;

            &-inner {
              background-color: $sColor;
              width: 100%;
              height: 5px;
              border-radius: 2px;
            }
          }
          .h-line-3 {
            grid-area: 5/1/6/5;
            align-self: center;

            &-inner {
              background-color: $sColor;
              width: 100%;
              height: 5px;
              border-radius: 2px;
            }
          }
          .h-line-4 {
            grid-area: 6/1/6/5;
            align-self: center;

            &-inner {
              background-color: $sColor;
              width: 100%;
              height: 5px;
              border-radius: 2px;
            }
          }

          .box-container {
            grid-area: 2/2/3/8;
            align-self: center;
            box-shadow: $shadow;
            border-radius: 10px;
            background-color: $bcolor;
            padding: 2rem;
            margin: $margin-boxes;
            &-inner {
              .box-title-container {
                &-inner {
                  &-text {
                    @include font(
                      $font: $fontTitle3,
                      $textPos: $le,
                      $color: $sColor
                    );

                    line-height: 55px;
                  }
                  &-list {
                    @include font(
                      $font: $fontRead,
                      $textPos: $le,
                      $color: $dark
                    );
                  }
                }
              }
              .box-paragraph-container {
                &-inner {
                  &-text {
                    @include font(
                      $font: $fontRead,
                      $textPos: $le,
                      $color: $dark
                    );
                  }
                  &-list {
                    @include font(
                      $font: $fontRead,
                      $textPos: $le,
                      $color: $dark
                    );
                  }
                }
              }
            }
          }
          .lines-container-1 {
            grid-area: 3/3/4/8;
            position: relative;
            bottom: 180px;
            height: 200px;
            padding: 2rem;
            align-self: center;
            .line-1-v {
              @extend .vertical-line;
              background-color: $sColor !important;
            }
            .horizontal-line-container {
              display: flex;
              align-items: center;
              width: 100%;
              top: -15px;
              position: relative;
              .line-2-h {
                @extend .horizontal-line;
                background-color: $sColor !important;
                width: 10% !important;
              }
              .line-title {
                width: 90%;
                @include font(
                  $font: $fontTitle4,
                  $textPos: $le,
                  $color: $sColor
                );
                line-height: 26px;
              }
            }
          }
          .box-container2 {
            grid-area: 4/2/5/8;
            align-self: center;
            box-shadow: $shadow;
            border-radius: 10px;
            background-color: $bcolor;
            padding: 2rem;
            margin: $margin-boxes;
            &-inner {
              .box-title-container {
                &-inner {
                  &-text {
                    @include font(
                      $font: $fontTitle3,
                      $textPos: $le,
                      $color: $sColor
                    );

                    line-height: 55px;
                  }
                }
              }
              .box-paragraph-container {
                &-inner {
                  &-text {
                    @include font(
                      $font: $fontRead,
                      $textPos: $le,
                      $color: $dark
                    );
                  }
                  &-list {
                    @include font(
                      $font: $fontRead,
                      $textPos: $le,
                      $color: $dark
                    );
                  }
                }
              }
            }
          }
          .box-container3 {
            grid-area: 5/2/6/8;
            align-self: center;
            box-shadow: $shadow;
            border-radius: 10px;
            background-color: $bcolor;
            padding: 2rem;
            margin: $margin-boxes;
            &-inner {
              .box-title-container {
                &-inner {
                  &-text {
                    @include font(
                      $font: $fontTitle3,
                      $textPos: $le,
                      $color: $sColor
                    );

                    line-height: 55px;
                  }
                }
              }
              .box-paragraph-container {
                &-inner {
                  &-text {
                    @include font(
                      $font: $fontRead,
                      $textPos: $le,
                      $color: $dark
                    );
                  }
                  &-list {
                    list-style: disc;
                    @include font(
                      $font: $fontRead,
                      $textPos: $le,
                      $color: $dark
                    );
                  }
                }
              }
            }
          }
          .lines-container-2 {
            grid-area: 7/3/8/8;
            position: relative;
            bottom: 180px;
            height: 200px;

            align-self: center;
            .line-1-v {
              @extend .vertical-line;
              background-color: $sColor !important;
            }
            .horizontal-line-container {
              display: flex;
              align-items: center;
              width: 100%;
              top: -15px;
              position: relative;
              .line-2-h {
                @extend .horizontal-line;
                background-color: $sColor !important;
                width: 10% !important;
              }
              .line-title {
                width: 90%;
                @include font(
                  $font: $fontTitle4,
                  $textPos: $le,
                  $color: $sColor
                );
                line-height: 26px;
              }
            }
          }
          .box-container4 {
            grid-area: 6/2/7/8;
            align-self: center;
            box-shadow: $shadow;
            border-radius: 10px;
            background-color: $bcolor;
            padding: 2rem;
            &-inner {
              .box-title-container {
                &-inner {
                  &-text {
                    @include font(
                      $font: $fontTitle3,
                      $textPos: $le,
                      $color: $sColor
                    );

                    line-height: 55px;
                  }
                }
              }
              .box-paragraph-container {
                &-inner {
                  &-text {
                    @include font(
                      $font: $fontRead,
                      $textPos: $le,
                      $color: $dark
                    );
                  }
                  &-list {
                    list-style: disc;
                    @include font(
                      $font: $fontRead,
                      $textPos: $le,
                      $color: $dark
                    );
                  }
                }
              }
            }
          }
        }
      }
    }
    .footer-container {
      &-inner {
        display: grid;

        .image-container {
          grid-area: 1/1/4/4;
          height: 444px;
          clip-path: inset(0px -70px 1px 0px);
          border-radius: 5px;

          &-inner {
            .footer-green-mountain {
              position: relative;
              border-radius: 5px;
              width: 90vw;
            }
            .footer-blue-mountain {
              position: relative;
              border-radius: 5px;
              width: 90vw;
            }
            .footer-red-mountain {
              position: relative;
              border-radius: 5px;
              width: 90vw;
            }
          }
        }
        .nav-menu-button {
          grid-area: 2/2/3/3;
          justify-content: center;
          display: grid;
          z-index: 1;

          &-dropLogo {
            z-index: 2;
            background: $bcolor;
            width: 150px;
            height: 150px;
            display: grid;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            box-shadow: $shadow;
            cursor: pointer;
            border: none;
            &-img {
              width: 75%;
              margin: auto;
            }
          }
        }
        .footer-nav {
          grid-area: 2/2/3/3;
          justify-self: center;
          align-self: center;
          z-index: 1;
          &-list {
            @include font($font: $fontNav, $textPos: $cen, $color: $dark);
            box-shadow: $shadow;
            border-radius: 10px;
            background-color: $bcolor;
            padding: 30px;
            display: none;
            opacity: 0;
            .item {
              margin: 10px;
            }
          }
        }
      }
    }
  }
}

.vertical-line {
  background-color: $pColor;
  width: 5px;
  height: 15%;
  border-radius: 2px;
}
.horizontal-line {
  background-color: $pColor;
  width: 100%;
  height: 5px;
  border-radius: 2px;
}

.inset-shadow {
  background: $bcolor;
  width: 150px;
  height: 150px;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: none;
  cursor: pointer;
  border: none;
  animation: inset 0.5s cubic-bezier(0.61, -0.18, 0.43, 1.03) forwards;
}
.no-shadow {
  background: $bcolor;
  width: 150px;
  height: 150px;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: none;
  cursor: pointer;
  border: none;
  animation: no-shadow 0.5s cubic-bezier(0.61, -0.18, 0.43, 1.03) forwards;
}
