.main-container {
  &-inner {
    .hero-container {
      &-inner {
        img {
          width: 100%;
        }
      }
    }

    @include bloques();
    @include principios();
    @include economia();

    .footer-container {
      &-inner {
        @include footer;
      }
    }
  }
}

.vertical-line {
  background-color: $pColor;
  width: 5px;
  height: 15%;
  border-radius: 2px;
}
.horizontal-line {
  background-color: $pColor;
  width: 100%;
  height: 5px;
  border-radius: 2px;
}

.inset-shadow {
  background: $bcolor;
  width: 90px;
  height: 90px;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: none;
  cursor: pointer;
  border: none;
  animation: inset 0.5s cubic-bezier(0.61, -0.18, 0.43, 1.03) forwards;
  @media (min-width: 575px) {
    width: 120px;
    height: 120px;
  }
  @media (min-width: 1024px) {
    width: 250px;
    height: 250px;
  }
}
.no-shadow {
  background: $bcolor;
  width: 90px;
  height: 90px;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: none;
  cursor: pointer;
  border: none;
  animation: no-shadow 0.5s cubic-bezier(0.61, -0.18, 0.43, 1.03) forwards;
  @media (min-width: 575px) {
    width: 120px;
    height: 120px;
  }
  @media (min-width: 1024px) {
    width: 250px;
    height: 250px;
  }
}
