.main-container {
  padding: 3rem 0;
  &-inner {
    .slider-controls {
      position: absolute;
      z-index: 10;
      top: 350px;
      .dots {
        .dot {
          width: 24px;
          height: 36px;
          border-radius: 40%;
          position: relative;
          background-color: $gray;
          box-shadow: $shadow;
          margin: 12px;
          cursor: pointer;
        }
        .dot:hover {
          width: 24px;
          height: 36px;
          border-radius: 40%;
          position: relative;
          background-color: lighten($color: $sColor, $amount: 30);
          box-shadow: $shadow;
          margin: 12px;
          cursor: pointer;
          transition: cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }
        .active-dot {
          width: 24px;
          height: 36px;
          border-radius: 40%;
          position: relative;
          background-color: $sColor;
          box-shadow: inset $shadow;
          margin: 12px;
          cursor: pointer;
        }
      }
    }
    .slider-container {
      display: flex;
      flex-flow: row;

      &-section {
        opacity: 0;
        &-inner {
          display: grid;
          grid-template-columns: 1fr;
          padding: 3vw;
          width: 80vw;
          max-width: 1600px;
          align-content: center;
          align-items: center;
          .img-container {
            width: 100%;
            &-inner {
              width: 100%;
              max-height: 500px;
              filter: url(#noise2);
            }
          }

          .text-container {
            box-shadow: none;
            border-radius: 10px;
            padding: 3rem;

            animation: shadow 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;

            &-inner {
              display: grid;
              grid-template-rows: 1fr 3fr auto 1fr;
              align-items: center;

              &-title {
                img {
                  width: 100%;
                }
              }

              &-line {
                background-color: $dark;
                width: 100%;
                height: 5px;
                border-radius: 2px;
              }
              &-text {
                @include font($font: $fontH1, $textPos: $le, $color: $dark);
              }
            }
          }
        }
      }
    }
    .slider-container-section:nth-child(1) {
      opacity: 1;
    }
    .down-line {
      &-inner {
        background-color: $dark;
        width: 100%;
        height: 5px;
        border-radius: 2px;
      }
    }
  }
}
@keyframes shadow {
  0% {
    box-shadow: none;
  }
  100% {
    box-shadow: $shadow;
  }
}

@media (min-width: 320px) {
  .main-container {
    &-inner {
      .slider-controls {
        position: absolute;
        z-index: 10;
        top: 460px;
        left: 8px;
      }
      .slider-container {
        &-section {
          opacity: 0;
          &-inner {
            grid-template-columns: 1fr;
            padding: 3vw;
            width: 92vw;
          }
        }
      }
    }
  }
}

@media (min-width: 465px) {
  .main-container {
    &-inner {
      .slider-controls {
        top: 533px;
        left: 16px;
      }
    }
  }
}

@media (min-width: 575px) {
  .main-container {
    &-inner {
      .slider-controls {
        top: 599px;
        left: 16px;
      }
    }
  }
}
@media (min-width: 670px) {
  .main-container {
    &-inner {
      .slider-controls {
        top: 665px;
        left: 16px;
      }
    }
  }
}
@media (min-width: 750px) {
  .main-container {
    &-inner {
      .slider-controls {
        top: 700px;
        left: 16px;
      }
    }
  }
}
@media (min-width: 850px) {
  .main-container {
    &-inner {
      .slider-controls {
        top: 765px;
        left: 26px;
      }
    }
  }
}
@media (min-width: 1024px) {
  .main-container {
    &-inner {
      .slider-controls {
        top: 805px;
        left: 27px;
      }
      .slider-container-section-inner {
        .text-container {
          &-inner {
            &-title {
              img {
                width: 60%;
                margin: auto;
                display: flex;
              }
            }
            &-text {
              display: flex;
              margin: auto;
              width: 60%;
            }
          }
        }
      }
    }
  }
}
@media (min-width: 1200px) {
  .main-container {
    &-inner {
      .slider-controls {
        top: 35vh;
        left: 27px;
      }
      .slider-container-section-inner {
        grid-template-columns: 7fr 3fr;
        .text-container {
          &-inner {
            &-title {
              img {
                width: 100%;
                margin: auto;
                display: flex;
              }
            }
            &-text {
              display: flex;
              margin: auto;
              width: 100%;
            }
          }
        }
      }
    }
  }
}
