body {
  font-size: 62.5%; // 1 rem = 10px /// 10px/16px = 62.5%
  max-width: 1200px;
  padding: 0 10%;
  background-color: $bcolor;
  display: grid;
  align-content: center;
  margin: auto;
  height: 100vh;
  overflow: hidden;
}

a {
  text-decoration: none;
}
