.intro {
  position: relative;
  top: 10vh;
  &-container {
    display: grid;
    width: 100%;
    justify-items: center;
    &-logo {
      margin: 2rem;
      &-img {
        filter: url(#noise);
      }
    }
    &-dropLogo {
      background: $bcolor;
      width: 90px;
      height: 90px;
      display: grid;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      box-shadow: $shadow;
      cursor: pointer;
      border: none;
      z-index: 2;
      &-img {
        filter: url(#noise);
        width: 40%;
        margin: auto;
      }
      .menu-container {
        display: none;
      }
    }
    &-dropLogo-inner {
      display: none;
      background: $white;
      width: 50px;
      height: 50px;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      box-shadow: $shadow;
      cursor: pointer;
      border: none;
      position: relative;
      opacity: 0;
      z-index: 2;
      &-img {
        transform: scale(0.1);
        transform-origin: center top;
        position: relative;
        top: 15px;
        z-index: 10;
      }
      .click-container {
        position: absolute;
        width: 100%;
        top: 35px;
        &-inner {
          &-text {
            @include font($font: $fontH, $textPos: $cen, $color: $dark);
            transform: scale(0.5);
          }
        }
      }
    }
    .inset-shadow {
      background: $bcolor;
      width: 90px;
      height: 90px;
      display: grid;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      box-shadow: none;
      cursor: pointer;
      border: none;
      animation: inset 0.5s cubic-bezier(0.61, -0.18, 0.43, 1.03) forwards;
      z-index: 2;

      .menu-container {
        position: absolute;
        z-index: -1;
        width: 100%;
        &-list {
          position: absolute;
          width: 100%;
          &-item {
            @include font($font: $fontIntro, $textPos: $cen, $color: $dark);

            .link {
              position: absolute;
              display: grid;
              width: 100%;
              opacity: 0;
            }
          }
        }
      }
    }
    .no-shadow {
      background: $bcolor;
      width: 90px;
      height: 90px;
      display: grid;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      box-shadow: none;
      cursor: pointer;
      border: none;
      animation: no-shadow 0.5s cubic-bezier(0.61, -0.18, 0.43, 1.03) forwards;
      .menu-container {
        display: none;
      }
    }

    &-description {
      margin: 2rem;

      &-text {
        @include font($font: $fontIntroDesc, $textPos: $cen, $color: $dark);
      }
    }
  }
}
svg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  z-index: -1;
}
.composition {
  position: absolute;
  top: 0px;
  left: 0px;
  &-container {
    position: absolute;
    &-red-mountain {
      position: relative;
      width: 100vw;
      height: 100vh;
      z-index: -1;
      filter: url(#noise);
    }
  }
}
@keyframes no-shadow {
  0% {
    box-shadow: $shadow;
  }
  100% {
    box-shadow: none;
  }
}

@keyframes inset {
  0% {
    box-shadow: none;
  }
  100% {
    box-shadow: inset $shadow;
  }
}
