.menu-container {
  padding: 1rem 0;
  &-inner {
    &-nav {
      display: grid;
      grid-template-columns: 1fr 6fr 1fr;
      width: 100%;
      align-items: center;
      .nav-logo {
        justify-content: center;
        display: grid;
        &-inner {
          &-link {
            &-img {
              width: 100%;
              min-width: 150px;
            }
          }
        }
      }
      .nav-middle-line {
        &-inner {
          width: 100%;
          background-color: $sColor;
          height: 5px;
          border-radius: 5px;
        }
      }
      .nav-menu-container {
        justify-content: center;
        display: grid;
        &-dropLogo {
          background: $bcolor;
          width: 100%;
          min-width: 130px;
          height: 100%;
          min-height: 130px;
          display: grid;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          box-shadow: $shadow;
          cursor: pointer;
          border: none;
          &-img {
            width: 75%;
            margin: auto;
          }
        }
      }
    }
  }
}
