@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Parisienne&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a:visited {
  color: black;
}

a {
  color: black;
}

.menu-container {
  padding: 1rem 0;
}
.menu-container-inner-nav {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  width: 100%;
  align-items: center;
}
.menu-container-inner-nav .nav-logo {
  justify-content: center;
  display: grid;
}
.menu-container-inner-nav .nav-logo-inner-link-img {
  width: 100%;
  min-width: 150px;
}
.menu-container-inner-nav .nav-middle-line-inner {
  width: 100%;
  background-color: #2f52e0;
  height: 5px;
  border-radius: 5px;
}
.menu-container-inner-nav .nav-menu-container {
  justify-content: center;
  display: grid;
}
.menu-container-inner-nav .nav-menu-container-dropLogo {
  background: #ecf0f3;
  width: 100%;
  min-width: 130px;
  height: 100%;
  min-height: 130px;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 4px 4px 14px #676767b0, -4px -4px 7px #fff;
  cursor: pointer;
  border: none;
}
.menu-container-inner-nav .nav-menu-container-dropLogo-img {
  width: 75%;
  margin: auto;
}

body {
  font-size: 62.5%;
  max-width: 1200px;
  padding: 0 10%;
  background-color: #ecf0f3;
  margin: auto;
}

a {
  text-decoration: none;
}

body {
  font-size: 62.5%;
  max-width: 1200px;
  padding: 0 10%;
  background-color: #ecf0f3;
  display: grid;
  align-content: center;
  margin: auto;
  height: 100vh;
  overflow: hidden;
}

a {
  text-decoration: none;
}

.intro-container {
  display: grid;
  width: 100%;
  justify-items: center;
}
.intro-container-logo {
  margin: 2rem;
}
.intro-container-logo-img {
  filter: url(#noise);
}
.intro-container-dropLogo {
  background: #ecf0f3;
  width: 250px;
  height: 250px;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 4px 4px 14px #676767b0, -4px -4px 7px #fff;
  cursor: pointer;
  border: none;
}
.intro-container-dropLogo-img {
  filter: url(#noise);
}
.intro-container-dropLogo .menu-container {
  display: none;
}
.intro-container-dropLogo-inner {
  display: none;
  background: #ededed;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 4px 4px 14px #676767b0, -4px -4px 7px #fff;
  cursor: pointer;
  border: none;
  position: relative;
  opacity: 0;
}
.intro-container-dropLogo-inner-img {
  transform: scale(0.1);
  transform-origin: center top;
  position: relative;
  top: 15px;
  z-index: 10;
}
.intro-container-dropLogo-inner .click-container {
  position: absolute;
  width: 100%;
  top: 35px;
}
.intro-container-dropLogo-inner .click-container-inner-text {
  font: 0.5rem "Open Sans", sans-serif;
  color: #111411;
  text-align: center;
  transform: scale(0.5);
}
.intro-container .inset-shadow {
  background: #ecf0f3;
  width: 250px;
  height: 250px;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: none;
  cursor: pointer;
  border: none;
  animation: inset 0.5s cubic-bezier(0.61, -0.18, 0.43, 1.03) forwards;
}
.intro-container .inset-shadow .menu-container {
  position: absolute;
  z-index: -1;
  width: 100%;
}
.intro-container .inset-shadow .menu-container-list {
  position: absolute;
  width: 100%;
}
.intro-container .inset-shadow .menu-container-list-item {
  font: 0.5rem "Open Sans", sans-serif;
  color: #111411;
  text-align: center;
}
.intro-container .inset-shadow .menu-container-list-item .link {
  position: absolute;
  display: grid;
  width: 100%;
  opacity: 0;
}
.intro-container .no-shadow {
  background: #ecf0f3;
  width: 250px;
  height: 250px;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: none;
  cursor: pointer;
  border: none;
  animation: no-shadow 0.5s cubic-bezier(0.61, -0.18, 0.43, 1.03) forwards;
}
.intro-container .no-shadow .menu-container {
  display: none;
}
.intro-container-description {
  margin: 2rem;
}
.intro-container-description-text {
  font: 1rem "Open Sans", sans-serif;
  color: #ededed;
  text-align: center;
}

svg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
}

.composition {
  position: absolute;
  top: 0px;
  left: 0px;
}
.composition-container {
  position: absolute;
}
.composition-container-red-mountain {
  position: absolute;
  width: 100vw;
  top: 50vh;
  z-index: -1;
  filter: url(#noise);
}

@keyframes no-shadow {
  0% {
    box-shadow: 4px 4px 14px #676767b0, -4px -4px 7px #fff;
  }
  100% {
    box-shadow: none;
  }
}
@keyframes inset {
  0% {
    box-shadow: none;
  }
  100% {
    box-shadow: inset 4px 4px 14px #676767b0, -4px -4px 7px #fff;
  }
}

/*# sourceMappingURL=app.css.map */
