@font-face {
  font-family: 'PARCHM';
  src: url('fonts/PARCHM.ttf') format('truetype'),
    url('fonts/PARCHM.svg#PARCHM') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
